body {
    background-image: url(../images/qbkls.png);
}

.btn-primary {
    margin-right: 7px;
    margin-top: 7px;
}

#queen-form {
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn-info {
    margin-bottom: 20px;

}

.ratings {
    font-weight: bold;
    color: #2e6da4;
    margin-top: 10px;
    margin-bottom: 5px;
}