body {
    background-image: url(../images/qbkls.png);
}

.btn-primary {
    margin-right: 7px;
}

#queen-form {
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn-info {
    margin-bottom: 20px;

}